<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Babyfoot Manager</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-grid">
                <form action="/" method="post" class="form">
                    <div class="cardForm">
                        <label for="player1Input" id="label1">Joueur 1</label>
                        <input type="text" name="player1Input" id="playerOne" required="required"/>
                        <label for="player2Input" id="label2">Joueur 2</label>
                        <input type="text" name="player2Input" id="playerTwo" required="required"/>
                        <button type="button" onclick="createG()" id="btnCreate">LANCER</button>
                    </div>                    
                </form>


            <div class="listGames">

                <div class="card" id="card1">
                    <p class="titre">Les parties en cours</p>
                    <div id="counter">
                        <%= counter %>
                    </div>
    
                    <div id="gamesNotFinished">
                    <% for (game of gamesNotFinished) { %>
                        <div id="game<%= game.id_game  %>" class="elementCard">                
                                <button id="player1Game<%= game.id_game  %>" class="player1btn p1Selected" onClick="update_winner(this.value)" value="player1-<%= game.id_game  %>"><%= game.player1 %></button>
                                <p class="versus">VS</p>
                                <button id="player2Game<%= game.id_game  %>" class="player2btn p2Selected" onClick="update_winner(this.value)" value="player2-<%= game.id_game  %>"><%= game.player2 %></button>
                                <button class="btnSupp" id="<%= game.id_game  %>" onClick="delete_game(this.id)">X</button>               
                        </div>
                    <% } %>
                    </div>
                </div>

                <div class="card" id="card2">
                    <p class="titre">Les parties terminées</p>
                    <div id="gamesFinished">
                        <% for (game of gamesFinished) { %>
                            <div id="game<%= game.id_game  %>" class="elementCard">
                                <% if(game.winner === game.player1){ %>                
                                    <button class="player1btn winner1"><%= game.player1 %></button>
                                <% }else{ %>
                                    <button class="player1btn"><%= game.player1 %></button>
                                <% } %>
                                    <p class="versus">VS</p>
                                <% if(game.winner === game.player2){ %>                
                                    <button class="player2btn winner2"><%= game.player2 %></button>
                                <% }else{ %>
                                    <button class="player2btn"><%= game.player2 %></button>
                                <% } %>
                                    <button class="btnSupp" id="<%= game.id_game  %>" onClick="delete_game(this.id)">X</button>                    
                            </div>
                        <% } %>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="chat">
            <button id="exit" class="exit">X</button>
            <div id="messages">           
            </div>

            <div class="send">
                <input type="text" id="msg-input">
                <button id="send-msg">Envoyer</button>

            </div>

        </div>

        <button id="btnChat"><img src="../public/img/bulle-de-discussion.png" alt="chatting"/></button>
    </body>
    <script src="../public/js/query.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../public/js/socket.js"></script>
</html>

<script>
    let chat = document.getElementById("chat");
    let exit = document.getElementById("exit");
    let btnChat = document.getElementById("btnChat");

    btnChat.addEventListener("click", () => {
        if(getComputedStyle(chat).display != "none"){
            chat.style.display = "none";
        } else {
            chat.style.display = "block";
        }
    })

    exit.addEventListener("click", () => {
        if(getComputedStyle(chat).display != "none"){
            chat.style.display = "none";
        } else {
            chat.style.display = "block";
        }
    })
</script>
