*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Inter', sans-serif;
    height: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) no-repeat;
}
button{
    cursor: pointer;
}
.container-grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 5% repeat(5, 1fr) 5% 5%;
    grid-template-rows: 30% 1fr 15%;
}

.form{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15% repeat(3, 1fr) 15%;
}

.cardForm{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 10% 1fr 25% 1fr 10%;
    grid-template-rows: 10% 1fr 15% 1fr 10%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

input{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-indent: 1em;
}

input:focus
{
    outline: none;
}

#label1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    position: absolute;
    height: 50%;
    top: 0px;
    left: 0px;
    line-height: 2em;
    color: #ff6b81;
    font-weight: bold;
}

#label2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    
    position: absolute;
    height: 50%;
    top: 0px;
    right: 0px;
    line-height: 2em;
    color: #70a1ff;
    font-weight: bold;
}

#playerOne{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    position: absolute;
    height: 50%;
    bottom: 0px;
    left: 0px;
    width: 90%;
    border-color: #ff6b81;
    color: #ff6b81;
}

#playerTwo{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

    position: absolute;
    height: 50%;
    bottom: 0px;
    right: 0px;
    width: 90%;
    border-color: #70a1ff;
    color: #70a1ff;
}

#btnCreate{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

    color: #ff7f50;
    letter-spacing: 1px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid #ff7f50;
    height: 70%;
    transition: color 0.5s, transform 0.2s;
    position : relative;
}

#btnCreate:hover {
    color: #e6e6e6;
    border: none;
  }

#btnCreate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s, border 0.3s;
}

#btnCreate::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff7f50;
    border-radius: 5px;
    transform: translate(0px, 0px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.4s, opacity 0.3s, background-color 0.3s;
}
#btnCreate:hover::after {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1) translate(0px, 0px);
}

.listGames{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 3% 1fr 8% 1fr 3%;
}

.card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.titre{
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    font-weight: bold;
    color: #57606f;
}

#card1{
    grid-column-start: 2;
    grid-column-end: 2;
}

#card2{
    grid-column-start: 4;
    grid-column-end: 4;
}

.elementCard{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 10px 15px;
    padding : 0px 10px;
    display: grid;
    grid-template-columns: 12% 1fr 10% 1fr 12%;
    height: 50px;
    position: relative;
}

#counter{
    color: #ff7f50;
    height: 35px;
    width: 35px;
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border-radius: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    top: -20px;
    right: -20px;
    position: fixed;
}
.player1btn{
    grid-column-start: 2;
    grid-column-end: 2;
    color: #ff6b81;
    letter-spacing: 1px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid #ff6b81;
    transition: color 0.5s, transform 0.2s;
    position : relative;
    height: 80%;
    top: 10%;
}

.p1Selected:hover{
    background-color: #ff6b81;
    color: #e6e6e6;
    transition: 0.5s;
}

.p2Selected:hover{
    background-color: #70a1ff;
    color: #e6e6e6;
    transition: 0.5s;
}
.player2btn{
    grid-column-start: 4;
    grid-column-end: 4;
    color: #70a1ff;
    letter-spacing: 1px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: 1px solid #70a1ff;
    transition: color 0.5s, transform 0.2s;
    position : relative;
    height: 80%;
    top: 10%;
}

.winner1{
    background-color: #ff6b81;
    color: #e6e6e6;
}

.winner2{
    background-color: #70a1ff;
    color: #e6e6e6;
}

.versus{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 17px;
    line-height: 50px;
    margin: 0 auto;
}

.btnSupp{
    position: absolute;
    top: -1px;
    right: -1px;
    border: none;
    margin: 0px;
    color: #fff;
    background-color: #ff4757;
    border-bottom-left-radius: 5px 5px;
    border-top-right-radius: 3px 3px;
    height: 25px;
    width: 25px;
}

#btnChat{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    color: #e6e6e6;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#chat{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    height: 500px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.exit{
    position: absolute;
    top: -1px;
    right: -1px;
    border: none;
    margin: 0px;
    color: #fff;
    background-color: #ff4757;
    border-bottom-left-radius: 5px 5px;
    border-top-right-radius: 3px 3px;
    height: 25px;
    width: 25px;
}

#messages{
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 40px;
    overflow: auto;
}

.msg{
    display: flex;
    
}
.content{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
}
.my-msg{
    justify-content: flex-end;
    padding: 10px;
}
.other-msg{
    justify-content:flex-start;
    padding: 10px;
    
}

.my-name{
    font-size: 10px;
    top: 5px;
}
.my-text{
    font-size: 16px;
    word-wrap: break-word;
}
.other-name{
    font-size: 10px;
    top: 5px;
}
.other-text{
    font-size: 16px;
    word-wrap: break-word;
}

.send{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
}
#msg-input{
    height: 100%;
    width: 200px;
}
#send-msg{
    height: 100%;
    letter-spacing: 1px;
    background-color: #2ed573;
    color: #e6e6e6;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 5px;
    border: none;
    padding: 0px 5px;
}



@media screen and (max-width: 800px) {

    .container-grid {
        display: flex;
        flex-direction: column;
    }
    .form{
        height: 25%;
        display: flex;
        flex-direction: column;
    }
    .cardForm{
        height: 100%;
        margin: 15px 25px 0px 25px;
    }
    .listGames{
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    #card1{
        margin: 25px 25px 0px 25px;
    }
    
    #card2{
        margin: 25px 25px 0px 25px;
    }
    

}